.eggs/
build/
dist/
*.egg-info
*.usm
*.dat
*.ivf
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
wannacri/__pycache__
wannacri/usm/__pycache__
wannacri/usm/media/__pycache__
wannacri/usm/tools_cython.*.pyd
